@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,800");
@import "compass/css3";




//Convert px to em
@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

body{
	text-align: center;
	background: #FCFCFC;
  font-family: sans-serif;
  font-weight: 100;
margin: 0;
padding: 0;
}

* {
  transition: all .65s ease;
  box-sizing: border-box;
  
}






















/* Add a black background color to the top navigation */
.topnav {
    background-color: #271033;
    overflow: hidden;
margin: 0px 0px 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #FCFCFC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FFFD77;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #DA2C38;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}























body{
	text-align: center;
	background: #FCFCFC;
  font-family: sans-serif;
  font-weight: 100;
margin: 0;
padding: 0;
}

h1{
  color: #271033;
  font-weight: 100;
  font-size: 20px;
  margin: 0em 0em 0.5em;
}


#weddingcountdown{
	padding: 1em
}
#weddingcountdown > div{

	padding: 16px;
	border-radius: 0px;
	background: #D3D3D3;
	display: block;
}



#clockdiv{
	font-family: sans-serif;
	color: #593F62;
	/*display: inline-block;*/
	font-weight: 100;
	text-align: center;
	font-size: 30px;
  min-width: 50px;
}

#clockdiv > div{
	padding: 4px;
	min-width: 50px;
	border-radius: 0em;
	background: #271033;
	display: inline-block;
}

#clockdiv div > span{
	padding: 0em;
	min-width: 40px;
	border-radius: 0em;
	background: #A5C4D4;
	display: inline-block;
}

.smalltext{
	padding-top: 0em;
	font-size: 1.5em;
	color: #A5C4D4;
}

********************************************************************


column {
  background: linear-gradient(#aab,#ffa);
  min-height: 100vh;
  padding: 5vw;
  font-family: 'Roboto', Arial;
}

.card {
  display: inline-block;
  margin: 15px;
  font-size: 14px;
  padding: 5px 100px 25px 30px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.4;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.75);
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  width: calc(33.3% - 180px);
  min-height: 140px;
  background: rgba(255,255,255,0.15);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}

.card h1 {
  position: absolute;
  left: calc(100% - 200px);
  top: -30px;
  font-size: 80px;
  transform: rotate(-35deg);
  color: rgba(0,0,0,0.07);
  text-shadow: none;
}

.card img.bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.card h2 {
  color: rgba(0,0,0,0.35);
  font-weight: 800;
  font-size: 28px;
  margin: 10px 0px 8px -2px;
  text-shadow: none;
}

.card h2 svg {
  height: 25px;
  vertical-align: -2px;
  opacity: 0.3;
}
.card .el {
  vertical-align: -2px;
  opacity: 0.3;
  margin-left: -5px;
}

@media only screen and (max-width: 1200px) {
  .card {  
    width: calc(50% - 170px);
  }
}

@media only screen and (max-width: 800px) {
  .card {  
    width: calc(100% - 160px);
  }
}

/*::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #123;
  border-radius:10px;
}
*/





.container {
  max-width: 75em;
  margin: 0 auto;
}







.post {
  padding: em(30px);
}













.columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    padding: em(25px);
    max-width: 47%;
    background: lighten(#DA2C38, 45%);
    color: $darkblue;
    border-bottom: 5px solid #DA2C38;
    margin-bottom: em(35px);
    position: relative;
    overflow: hidden;
    .item-title {
      color: darken(#271033, 85%);
      font-size: 24px;
      margin: 0 0 5px 0;
      font-family: $heading-font-family;
    }
    .item-image {
      max-width: 100%;
    }
    &:hover, &:focus {
      background: lighten(#271033, 58%);
      border-bottom-color: #FFFD77;
      .social {
        position: absolute;
        bottom: -21px;
        height: auto;
        z-index: 5;
        padding: 10px 0;
        .fa {
          color: #FFFD77;
          padding: 0 em(5px);
          &:hover {
            color: tint(#271033, 40%);
          }
        }
      }
    }
  }
  @media (max-width: 660px) {
    .item {
      max-width: 100%;
      width: 100%;
    }
  }
   &.thirds {
     .item {
        max-width: 31%;
     }
     
     @media (max-width: 770px) {
       .item {
         max-width: 48%;
       }
       @media (max-width: 660px) {
       .item {
         max-width: 100%;
         width: 100%;
       }
     }
     }
    }


















.footer {
  background: #593F62;
  color: white;
  padding: em(15px);
  text-align: center;
  font-size: em(13px);
  a {
    color: #A5C4D4;
    text-decoration: none;
    border-bottom: 1px solid;
  }
}
