@import "compass/css3";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,800");
//Just a ltitle layout demo using flexbox. Color pallete found on Kuler - https://color.adobe.com/Theme-33-color-theme-5523423/

//Dummy text from Whedonipsum - www.commercekitchen.com/whedon-ipsum/

//Color definitions
$lightblue: FCFCFC;
$darkblue: 593F62;
$medblue: 8499B1;
$salmon: DA2C38;
$hellayellow: A846A0;

//Typography
$base-font-size: 16px;
$base-font-family: 'Nunito', sans-serif;
$heading-font-family: 'Righteous', sans-serif;

//Convert px to em
/*@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}*/

body {
  background: $lightblue;
  font-family: $base-font-family;
  color: #222;
}

* {
  transition: all .65s ease;
  box-sizing: border-box;
  
}

//Centering Content 
.container {
  max-width: 75em;
  margin: 0 auto;
}

//Setting up the header so the "logo" and tagline site on each side of the header using flexbox. At 700px, they will stack.
.header {
  background: $salmon;
  color: white;
  padding: em(10px);
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .site-title, .site-tagline {
    font-weight: 400;
  }
  @media (max-width: 700px) {
    .site-title, .site-tagline {
      width: 100%;
      text-align: center;
    }
    .site-title {
      margin: 0;
    }
  }
}

.site-title, h1, h2, h3 {
  font-family: $heading-font-family;
  font-size: em(42px);
  color: darken($lightblue, 75%);
}
h3 {
  font-size: em(32px);
  color: desaturate($salmon, 10%);
}
.site-title {
  color: white;
}
.site-tagline {
  font-size: em(18px);
  font-style: italic;
}

// Navigation, including mobile version
.main-nav {
  background: $hellayellow;
  color: white;
  //transition: none;
  a {
    color: $darkblue;
    text-decoration: none;
  }
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    a {
      padding: em(15px) em(35px);
      display: flex;
      text-transform: uppercase;
      &:hover, &:focus {
        background: lighten($hellayellow, 25%);
        color: lighten($darkblue, 25%);
      }
    }
    .mobile-button a {
      position: absolute;
      left: -99999em;
    }
  }
  
  @media (max-width: 700px) {
    ul {
      flex-wrap: wrap;
       justify-content: flex-start;
      a {
        position: absolute;
        left: -99999em;
      }
      &.open {
        li {
          width: 100%;
          &.mobile-button a {
          	background: tint($hellayellow, 50%);
          	color: darken($medblue, 20%);
          }
        }
        a {
          position: static;
          
        }
      }
      .mobile-button {
        a {
          position: static;
        }
      }
    }
    a {
      width: 100%;
    }
  }
}

//Setting up full-bleed images, shrinking the height on smaller viewports 
.full-bleed {
  background-size: cover;
  min-height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width:700px) {
  .full-bleed {
    min-height: 175px;
  }
}

.cool-photo {
  background-image: url(http://lorempixel.com/1300/400/abstract)
}
.cool-photo2 {
  background-image: url(http://lorempixel.com/1300/400/food)
}

.post {
  padding: em(30px);
}

// Setting up our columns/grids. The first section has two columns side by side. The second section has a grid of 3 columns, that reduces down to two columns and then full width as browser is scaled down.
.columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    padding: em(25px);
    max-width: 47%;
    background: lighten($medblue, 45%);
    color: $darkblue;
    border-bottom: 5px solid $hellayellow;
    margin-bottom: em(35px);
    position: relative;
    overflow: hidden;
    .item-title {
      color: darken($lightblue, 85%);
      font-size: 24px;
      margin: 0 0 5px 0;
      font-family: $heading-font-family;
    }
    .item-image {
      max-width: 100%;
    }
    &:hover, &:focus {
      background: lighten($medblue, 58%);
      border-bottom-color: $salmon;
      .social {
        position: absolute;
        bottom: -21px;
        height: auto;
        z-index: 5;
        padding: 10px 0;
        .fa {
          color: $salmon;
          padding: 0 em(5px);
          &:hover {
            color: tint($darkblue, 40%);
          }
        }
      }
    }
  }
  @media (max-width: 660px) {
    .item {
      max-width: 100%;
      width: 100%;
    }
  }
   &.thirds {
     .item {
        max-width: 31%;
     }
     
     @media (max-width: 770px) {
       .item {
         max-width: 48%;
       }
       @media (max-width: 660px) {
       .item {
         max-width: 100%;
         width: 100%;
       }
     }
     }
    }
  .social {
    position: absolute;
    bottom: -60px;
    height: 0;
    z-index: -1;
    font-size: em(28px);
  }
}

.footer {
  background: $salmon;
  color: white;
  padding: em(15px);
  text-align: center;
  font-size: em(13px);
  a {
    color: $hellayellow;
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

//With love <3 by Lindsey Di Napoli - CSSgirl

.card {
  display: inline-block;
  margin: 15px;
  font-size: 14px;
  padding: 5px 100px 25px 30px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.4;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.75);
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  width: calc(46%);
  min-height: 140px;
  background: rgba(255,255,255,0.15);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}

.card h1 {
  position: absolute;
  left: calc(100% - 200px);
  top: -30px;
  font-size: 80px;
  transform: rotate(-35deg);
  color: rgba(0,0,0,0.07);
  text-shadow: none;
}

.card img.bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.card h2 {
  color: rgba(0,0,0,0.35);
  font-weight: 800;
  font-size: 28px;
  margin: 10px 0px 8px -2px;
  text-shadow: none;
}

.card h2 svg {
  height: 25px;
  vertical-align: -2px;
  opacity: 0.3;
}
.card .el {
  vertical-align: -2px;
  opacity: 0.3;
  margin-left: -5px;
}

@media only screen and (max-width: 1200px) {
  .card {  
    width: calc(100%);
  }
}

@media only screen and (max-width: 800px) {
  .card {  
    width: calc(100%);
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #123;
  border-radius:10px;
}

  .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
  }
  
  .demo-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: #03a9f4;
  }
  
  .demo-card-square > .mdl-card__accent {
    background: #ff9800;
  }
  
  body {
     background: #fafafa;
    position: relative;
  }

@media only screen and (max-width: 800px) {
  .mdl-card mdl-shadow--2dp demo-card-square {  
    width: calc(100%);
  }
}

#weddingcountdown{
	padding: 1em
}
#weddingcountdown > div{

	padding: 16px;
	border-radius: 0px;
	background: #D3D3D3;
	display: block;
}



#clockdiv{
	font-family: sans-serif;
	color: #593F62;
	/*display: inline-block;*/
	font-weight: 100;
	text-align: center;
	font-size: 30px;
  min-width: 50px;
}

#clockdiv > div{
	padding: 4px;
	min-width: 50px;
	border-radius: 0em;
	background: #271033;
	display: inline-block;
}

#clockdiv div > span{
	padding: 0em;
	min-width: 40px;
	border-radius: 0em;
	background: #A5C4D4;
	display: inline-block;
}

.smalltext{
	padding-top: 0em;
	font-size: 1.5em;
	color: #A5C4D4;
}
