.body {
    height: 100%;
}
main{margin:0 auto;text-align:center;}
.logo {
    /*width: 500px;*/
}
.header1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
}

h1,h2,p{color:#000;line-height:2;}
